<h1 style="color: #5e9ca0;">Source code translator</h1>
<h2 style="color: #2e6c80;">Why this tool?</h2>
<p>Translating documents using Google Translate has a number of issues</p>
<ul>
<li>Google translated does not let us translate whole files at a time unless it is paid version.</li>
<li>It does not detect source code syntax such as camel case, underscores etc</li>
</ul>
<p>Hence this tool intends to overcome those drawbacks</p>
<h2 style="color: #2e6c80;">Some useful features:</h2>
<ul>
<li>Download translated files instantly</li>
<li>Keep track of all translated files</li>
<li>OpenOffice: text(odt), spread sheet(ods) can be translated.</li>
<li>MS Office: word(doc,docx) and excel files(xls,xlsx). (Translation in word files affect the styling for now. Will work on it.)</li>
<li>Flat files: txt, csv, sql, cs, c, java, php etc.</li>
<li>Code will detect camel casing and split the string before translating it.&nbsp;</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><span style="color: #ff0000;"><strong>Note: Translation quality is only as good as Google translate. Could not be as good as getting it translated by human translator.</strong></span></p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p><strong>&nbsp;</strong></p>