
<div id="mainpage" class="fform" ng-controller="mainCtrl">
	<div id="loadingGif" ng-show="loadingflag">
		<img src="img/load3.gif" class="ajax-loader" />
		<h2 ng-model="loadingtext">{{loadingtext}}</h2>
	</div>

	<form class="form-signin floralwhitebg"
		enctype="multipart/form-data" ng-submit="translate(this)">

		<img class="" src="img/lan1.gif" alt="" width="120" height="100">
		<h1 class="h3 mb-3 font-weight-normal">Source code translator</h1>

		<label for="file" class="sr-only">Upload the file to translate</label>
		<input type="file" id="file" name="file"
			class="form-control form-control-file" placeholder="choose file"
			file-model="file" onchange="fileselected()">

		<div class="form-control">
			<input class="form-control mr-sm-2" type="text"
				placeholder="Source Language" aria-label="Source Language"
				ng-model="srclan" list="lsuggestions" name="sl" id="sl" required>
			<datalist id="lsuggestions" ng-model="languages">
				<option ng-repeat="sl in languages | orderBy" value="{{sl}}">
			</datalist>
			<input class="form-control mr-sm-2" type="text"
				placeholder="Target Language" aria-label="Target Language"
				ng-model="tgtlan" list="lsuggestions" name="tl" id="tl" required>
			<input class="form-control mr-sm-2" type="text"
				placeholder="Supported File types" aria-label="File type"
				ng-model="filetype" list="ftypes" name="filetype" id="filetype"
				required>
			<datalist id="ftypes" ng-model="supportedTypes">
				<option ng-repeat="ft in supportedTypes | orderBy" value="{{ft}}"
					id="{{ft}}">
			</datalist>
		</div>
		<div class="form-control" id="plaintexttogglediv" hidden="true">
			<label id="switch">Translate as plain text: <input
				type="checkbox" id="plaintexttoggle" ng-model="isplaintxt"></label>
		</div>
		<button ng-hide="translatedflag"
			class="cbtn btn btn-lg btn-primary btn-block" type="submit"
			ng-click="">
			<span class="glyphicon glyphicon-send"></span> Translate file
		</button>
		<a ng-show="translatedflag"
			class="cbtn btn btn-lg btn-success btn-block"
			href="{{downloadFileLink}}" ng-click="downloaded()"><span
			class="glyphicon glyphicon-download-alt"></span> Download file</a>
		<p class="mt-5 mb-3 text-muted">S@ru © 2017-2018</p>
	</form>
</div>